.App {
  text-align: center;
  background-color: rgb(238, 205, 145)
}

.CategoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
    padding: 20px;
}

.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.selected-category {
  font-weight: bold;
  color: red;
}

.App h1 {
  color: white;
}